/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(fonts-awesome/font-awesome.css);
.footer {
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
body{
	background-color:#EDEDED;
}
.main-container{
	margin-top:40px;	
}
#container{
	background-color:#ffffff;
	min-height:900px;
}
.line1{
	border:1px solid #000;
}
.underline-div{
	border-bottom:1px solid #000;
	width:98%;
	margin-left:auto;
	margin-right:auto;
}
.header-link{
	min-width:160px;
}
#sidemenu{
	  margin-bottom: 2.65em;
}
#sidemenuContainer{
	  width:1200px;	
	  margin:auto;
}
.dateBirth li{
	display: inline;
}
.underline{
	 text-decoration: underline !important;
}
label.error {
  color: #de2c3b;
}
.error {
  color: #de2c3b;
}
.custom-text{
	line-height:1.5em;
	font-size:14px;
	padding:5px 12px;
}
.container-sales{
	max-width: 1500px;
	margin: auto;
}
.inline-list-2  li{
	display: inline-block;
	width:49%;
}
.inline-list-3  li{
	display: inline-block;
	width:32%;
}
.inline-list-2{
	margin-left: -40px;
	margin-bottom:1em;
}
.inline-list-3{
	margin-left: -40px;
	margin-bottom:1em;
	
}
.cus-inline-list-3  li{
	display: inline-block;
	width:32.85%;
}
.cus-inline-list-3{
	margin-left: -40px;
	margin-bottom:1em;
		
}
.block-list{
	margin-bottom:1em;
}
.block-list li{
	margin-bottom:10px;
}
.block-list li{
	display: block;
	width:48%;
	
}
.unit-block{
	width:400px;
	margin: auto;
}
ul.progressbar-list-3{
	border:1px solid darkgreen;
	width:100%;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  background-color:green;

}
ul.progressbar-list-3 > li{
		display:inline-block;
	width:33%;
	  line-height:1.5em;
	  padding:8px;
	
}
ul.progressbar-list-3 .active{
		color:#fff;
		font-weight:bold;
	background-color:green;
}
ul.progressbar-list-3 .normal{
		color:#fff;
		font-weight:bold;
	background-color:lightgreen;
}
/* Adding Icon to input text */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/** End **/
/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
.submenu {display: none;}
.mainmenu {margin: 1px;line-height: 30px;background: #0769AD url(plus.png) left top no-repeat;}
.mainmenu a{margin: 10px;color: #FFFFFF;text-decoration: none;padding-left:20px;}
.submenu ul{list-style: none;margin: 0;padding: 0px;}
.submenu li {background-color: #EEEEEE;margin:0px 0px 1px 4px;line-height: 30px;}
.submenu li a{color: #000000;}	
 
}


#phoneNumberBox{
	width:230px;
	margin-left:-40px;
}
#phoneNumberBox li{
	display:inline-block;

}
#phoneNumberBox #areacode{
	width:55px;
}
#phoneNumberBox #exchange{
	width:65px;
}
#phoneNumberBox #middlenumber{
	width:55px;
}
@media (max-width: 768px) {
	#phoneNumberBox{
	width:100%;
}
}
/****/

.navbar-blue {
  background-color: #fff;
  border-bottom: 1px solid  #e7e7e7;
  color:#000;
  
}
/*** Indentation***/
.moveR_5{
	margin-right: 5px !important;
}
.moveR_10{
	margin-right:10px !important;
}
.moveR_15{
	margin-right:15px !important;
}
.moveR_20{
	margin-right:20px !important;
}
.moveR_30{
	margin-right:30px !important;
}
.moveR_40{
	margin-right:40px !important;
}
.moveR_50{
	margin-right:50px !important;
}
.moveL_10{
	margin-left:10px !important;
}
.moveL_20{
	margin-left:20px !important;
}
.moveL_30{
	margin-left:30px !important;
}
/* =Accordion
-----------------------------------------------------------------------------*/
.accordion-title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 12px 50px 12px 18px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  background: #f7f8f8;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion-title.accordion-title-opened {
  margin-bottom: 0;
  font-weight: normal;
  background: #f0f1f2;
}
.accordion-title a,
.accordion-title:hover {
  color: #000;
  text-decoration: none;
}
.accordion-panel {
  margin-bottom: 15px;
}
.accordion-toggle {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  padding: 0;
  font-size: 0;
  line-height: 1;
}
.accordion-toggle-closed {
  background: #000;
  width: 1px;
  height: 15px;
  margin-left: 1px;
}
.accordion-toggle-closed:before {
  position: absolute;
  top: 7px;
  left: -7px;
  content: "";
  width: 15px;
  height: 1px;
  background: #000;
}
.accordion-toggle-opened:before {
  position: absolute;
  top: 7px;
  left: -8px;
  content: "";
  width: 15px;
  height: 1px;
  background: #000;
}


/*Basic reset*/
* {margin: 0; padding: 0;}

#accordian {
	background: #004050;
	width: 100%;
	margin: 0px auto 0 auto;
	color: white;

		height:100%;
}
/*heading styles*/
#accordian h3 {
	font-size: 14px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	background: linear-gradient(#003040, #002535);
  margin-top: 0px !important;
  margin-bottom: 0px  !important;	
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
#accordian ul ul li {
	border-bottom:1px solid #1874a0
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 12px;
	line-height:2.5em;

	display: inline-block;
	padding-left:15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	width: 100%;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

/******* End of Accordian *************/
/** Error Alerts and Notifications***/
.errorContainer {
	color: #000;
	padding: 10px;
	background-color:#FF0000;
}

.infoContainer {
	color:#000;
	padding: 10px;
	background-color: #1975FF;
}

/* Help Text*/
.help-text-inline{
  display:inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 80%;
  margin-left: 5px;
  max-height: 0.5em;
}
.help-text-inline-error{
  display:inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ff0000;
  font-size: 90%;
  margin-left: 5px;
  max-height: 0.7em;
}
.bold{
	font-weight:bold;
}
.nav-line{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
	border-bottom:2px solid #000;
}
.navigation-linear{
	display:block;
}
.navigation-linear > li{
	display: inline-block;
	margin-right:10px;
}
#customerDetailBlock{
	margin-bottom:20px;
}
.spaceBelow_10{
	margin-bottom: 10px;
}
.spaceBelow_20{
	margin-bottom: 20px;
}
.quick-stats:before{
	position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 98.2%;
    height: 1px;
    background-color: #434857;
    margin-left:15px  !important;
}
.quick-stats{
	margin-bottom:30px;
	position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
#quick-stats-word{
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    vertical-align: middle;
    background-color: #FFF;
}
.anw {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    color: inherit;
}

.pageHeading{
	border-bottom: 1px solid #000;
}
.list-button-group{

	position:relative;
	background: transparent;

}
.list-button-group li{
	display:inline-block;
	list-style:none;
	width:100%;
	border-bottom:1px solid #000;
	padding-bottom:10px;
	padding-top:10px;
}
.list-button-group li:last-child{
	display:inline-block;
	list-style:none;
	width:100%;
	border-bottom:none;
	padding-bottom:10px;
	padding-top:10px;
}
.list-button-group > li > a{
	margin-left:10px;
	color: #0080ff;
	font-weight:bold;
}
.list-button-group > li > a:hover{
text-decoration:none;
}
.resultHeading:before{
	position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #434857;
}
.resultHeading{
	margin-bottom:30px;
	position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
#resultHeading-word{
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    vertical-align: middle;
    background-color: #FFF;
}
.platform_form{
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  padding: 0.3em 0.35em;
  line-height: 1.5em;
  border-radius: 0;
  outline: none;
  margin-bottom:20px;
    height: 34px;
letter-spacing:2px;  
}
.platform_form-block{
	display:block;
}
.form-state{
  font-family:"Raleway","Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  padding: 0.3em 0.35em;
  line-height: 1.5em;
  border-radius: 0;
    height: 34px;
  outline: none;
  margin-bottom:20px;
  letter-spacing:2px;	
  display:block;
}
.form-state-inline{
  font-family:"Raleway","Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  padding: 0.3em 0.35em;
  line-height: 1.5em;
  border-radius: 0;
    height: 34px;
  outline: none;
  margin-bottom:20px;
  letter-spacing:2px;	
  display:inline-block;	
}
.form-state.error{
	 margin-bottom:0px;
}
textarea.form-state {
  height: auto;
}
select#paymentType{
		   background: transparent;
		   border: 1px solid #000;
		   font-size: 14px;
		   height: 29px;
		   letter-spacing:2px;
		   padding: 5px; /* If you add too much padding here, the options won't show in IE */
		   width: 268px;
}
label{
		font-size: 13px;
		letter-spacing:1px;
}
.platform-alert{
	padding:0.5em;
	background: transparent;
	line-height: 1.5em;
	margin-bottom:20px;
}
.platform-alert-caution{
	background-color:#DC143C;
	color:#fff;
	text-align:center;
}
.platform-info-caution{
	background-color:#06b7ea;
	border: 1px solid #0080ff;
	color:#fff;
	text-align:center;
}
.width-50{
	width:48%;
}
.width-20{
	width:18%;
}
.width-30{
	width:28%;
}
.width-100{
	width:98% !important;
}
.width-70{
	width:68%;
}
.width-75{
	width:73%;
}
.inlineBlock{
	display:inline-block !important;
}
input[readonly]{
	broder:none;
	color:#000;
}
.buttonAction {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align:right !important;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;	
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  width:100%;
}
.pad_10{
	padding:10px;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    border-top: 0;
    background-color:#fff;
}
.labelLength_10{
	width:10em !important;
}
.labelLength_20{
	width:20em !important;
}
.labelLength_30{
	width:30em !important;
}
.labelLength_40{
	width:40em !important;
}
.boxHeight_10{
	line-height:10em;
}
.boxHeight_15{
	line-height:15em;
}