<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	    <http auto-config="true">
    	<intercept-url pattern="/security/**" access="isAnonymous()"/>
    	<intercept-url pattern="/platform/Signup" access="isAnonymous()"/>
    	<intercept-url pattern="/abankus/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/Payments/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/client/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/platform/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/registration/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/customers/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/employee/**" access="isFullyAuthenticated()"/>
    	<intercept-url pattern="/products/**" access="isFullyAuthenticated()"/>
    	<form-login login-page='/security/login' default-target-url='/platform/index' 
            always-use-default-target='true' authentication-failure-url='/security/login?error=login_failed' />
        <logout invalidate-session="true" delete-cookies="JSESSIONID" logout-url="/platform/logout"  logout-success-url="/login?logout_successful=18"/>

		<access-denied-handler error-page="/security/accessdenied"/>

        <session-management session-authentication-error-url="/security/error?sessionexpired=true">
       		<concurrency-control max-sessions="1" expired-url="/security/login?max-time=2" />
        </session-management>
			<headers>
				<xss-protection/>
				<cache-control/>
				
			</headers>
			<csrf/>
    </http>
    
	<beans:bean id="customAuthenticationProvider" class="com.boateng.abankus.authentication.CustomAuthenticationProvider" />
	
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/authenticationDB"/>
	


	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider"/>
	</authentication-manager>
	  <beans:bean id="encoder" 
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11" />
	  </beans:bean>

      <global-method-security secured-annotations="enabled" />
          
</beans:beans>